body{
	font-family: 'Milonga', cursive;
	font-size: 0.750em;
	width: 60%;
	margin: 0 auto;
	background-image: url(images/bgimage.jpg);
	background-repeat: repeat-y;
	background-color: #FFF;
}

header{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	
}

nav{
	background: #7C7B7B;
	overflow: hidden;
	text-align: center;  
}


a{
	text-decoration: none;
	text-align: center;
	display: inline;
	color: #000;
	float: none;
}

a:hover{
	color: #5E5B58;
	background: #FFF;	
	text-align: center;

}

img{
	clear: both;
	width: 20.0833333%;
}

h1, h2, h3{
	font-family: 'Alegreya SC', serif;
}

h1{
   text-shadow: 2px 2px 2px #333;
   font-size: 2.917em;
}

.main{
	background-color: #5E5B58;
	width: 100%;
}



ul{
	background-color: rgba(63, 62, 61, 0.5);
	list-style-type: circle;
}

table {
	width: 150%;
	line-height: 150%;
	border-collapse: collapse;
	border: 1px solid #666;
	
}



td {
	text-align: center;

}

th {
	background-color: #CCC;
	color: #333;
	padding: 0.3em;
}

.odd_row {
	background-color: rgba(63, 62, 61, 0.5);

}



.image_gallery {
	float: left;
	width: 100%;
}

form {
		width: 100%;
		line-height: 200%;
		text-align: left;
}

input {
	background-color: rgba(63, 62, 61, 0.5);
	border: 1px solid #666;
	
}

button {
	background-color: rgba(63, 62, 61, 0.5);
	border: 1px solid #666;
	
}

h3{
	clear: left;
}

div{
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	width: 100%;
}

/* Media Queries */


/* Tablet Screen 960 */

@media screen and (min-width: 768px) and (max-width: 959px) {

	ul {
		background-color: #FFF;
		font-family: verdana, arial;
		list-style-type: square;
		width: 70%; 
	}
	
description { 
		width: 70%;
	}

h1, h2, h3 {
	width: 70%;
	}

nav {
	width: 70%;
	}

table {
	width: 70%;
	}

.main {
	width: 70%;
	}

article {
	width: 70%;
	}
	
form {
	width: 70%;
	}
		
footer {
	width: 70%;
	}

}

/* Mobile Landscape  */

@media screen and (min-width: 480px) and (max-width: 767px) {

	ul {
		background-color: #aac6d3;
		font-family: verdana, arial;
		list-style-type: square;
		width: 50%; 
	}

description { 
		width: 50%;
	}
	
nav {
	width: 50%;
	}	

h1, h2, h3 {
		width: 50%;
	}

table {
	width: 50%;
	}

.main {
	width: 50%;
	}

form {
	width: 50%;
	}
		
article {
	width: 50%;
	}

footer {
	width: 50%;
	}

}

/* Mobile Landscape  */

@media screen and (max-width: 479px) {

	ul {
		background-color: #577cb3;
		font-family: verdana, arial;
		list-style-type: square;
		width: 30%;
	} 
		img {display: none;
	
	}
	
description {
		width: 30%;
	}

nav {
	width: 30%;
	}
	
h1, h2, h3 {
		width: 30%;
	}

table {
	width: 30%;
	}	
	
.main {
	width: 30%;
	}
	
form {
	width: 30%;
	}

article {
	width: 30%;
	}

footer {
	width: 30%;
	}

}