body{
	font-family: 'Milonga', cursive;
	font-size: 0.750em;
	line-height: 1.5;
	width: 60%;
	margin: 0 auto;
	background-image: url(images/bgimage.jpg);
	background-repeat: repeat-y;
	background-color: #FFF;
}

header{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	
}

nav{
	background: #7C7B7B;
	overflow: hidden;
	text-align: center;  
}


a{
	text-decoration: none;
	text-align: center;
	display: inline;
	color: #000;
	float: none;
}

a:hover{
	color: #5E5B58;
	background: #FFF;	
	text-align: center;

}

img{
	clear: both;
	width: 20.0833333%;
}

h1, h2, h3{
	font-family: 'Alegreya SC', serif;
}

h1{
   text-shadow: 2px 2px 2px #333;
   font-size: 2.917em;
}

.main{
	background-color: #5E5B58;
	width: 100%;
}

ul{
	background-color: rgba(63, 62, 61, 0.5);
	list-style-type: circle;
}

.image_gallery{
	float: left;
	width: 100%;
}

h3{
	clear: left;
}

div{
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	width: 100%;
}

/* Media Queries */


/* Tablet Screen 960 */

@media screen and (min-width: 768px) and (max-width: 959px) {

	ul {
		background-color: #FFF;
		font-family: verdana, arial;
		list-style-type: square; 
	}

}

/* Mobile Landscape  */

@media screen and (min-width: 480px) and (max-width: 767px) {

	ul {
		background-color: #aac6d3;
		font-family: verdana, arial;
		list-style-type: square; 
	}

}

/* Mobile Landscape  */

@media screen and (max-width: 479px) {

	ul {
		background-color: #577cb3;
		font-family: verdana, arial;
		list-style-type: square;
	} 
		img {display: none;
	}

}
